/* <system section="theme" selected="smooth"> */
@import "/css/theme/smooth/smooth.css";

/* </system> */

/* <system section="background" selected="undefined"> */

/* </system> */

/* code block */
.entry-content pre.code {
  background-color: #fafafa;
  color: #444;
}

span.synSpecial {
  color: #c000c0;
}

span.synType {
  color: #3ec63e;
}

span.synComment {
  color: #4f80e5;
}

span.synPreProc {
  color: #9355e6;
}

span.synIdentifier {
  color: #51cfcf;
}

span.synConstant {
  color: #f66;
}

span.synStatement {
  color: #d88a17;
}

/* /code block */
